/* wendy one font */
@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');
/* Zen Tokyo Zoo */
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
/* tailwind css  */
@import "tailwindcss";

/* font all body */
body{
    font-family: "Wendy One", sans-serif;
}

.embossed-text {
    text-shadow: 
        -1px -1px 1px rgba(255,255,255,0.5),
        1px 1px 1px rgba(0,0,0,0.3),
        3px 3px 5px rgba(0,0,0,0.2);
    letter-spacing: 2px;
    -webkit-text-stroke: 1px rgba(139, 110, 45, 0.5);
}

.text{
    font-family: "Zen Tokyo Zoo", system-ui;
}

::-webkit-scrollbar {
    width: 1rem;
  }

  /* ::-webkit-scrollbar-track {
    background: #0E7A81; 
  } */
   
  ::-webkit-scrollbar-thumb {
    background: #B69659; 
    border: 5px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
  }

  body, html {
    overflow-x: hidden;
}
